<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProfile name="devel">
        <logger name="com.example" level="DEBUG"/>
    </springProfile>
    <springProfile name="production">
        <logger name="com.example" level="INFO"/>
    </springProfile>
</configuration>
