<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('Signin')">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link href="/css/font/css/open-iconic-bootstrap.min.css" th:href="@{/css/font/css/open-iconic-bootstrap.min.css}" rel="stylesheet" />
  <link href="/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet" />
  <title>Example</title>
</head>
<body>
  <div class="container">
  </div>
  <script src="/js/vendor.bundle.js" th:src="@{/js/vendor.bundle.js}"></script>
  <script src="/js/dashboard.bundle.js" th:src="@{/js/dashboard.bundle.js}"></script>
</body>
</html>
