<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('Home')">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/css/depens.bundle.css" rel="stylesheet" />
  <title>Example</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>System Error</h1>
      <hr />
      <div th:text="'timestamp: ' + ${timestamp}"></div>
      <div th:text="'status: ' + ${status}"></div>
      <div th:text="'error: ' + ${error}"></div>
      <div th:text="'exception: ' + ${exception}"></div>
      <div th:text="'message: ' + ${message}"></div>
      <div th:text="'errors: ' + ${errors}"></div>
      <div th:text="'trace: ' + ${trace}"></div>
      <div th:text="'path: ' + ${path}"></div>
    </div>
    <footer class="footer">
      <hr />
      <p>&copy; 2022 Company, Inc.</p>
    </footer>
    <script src="/js/depens.bundle.js" th:src="@{/js/depens.bundle.js}"></script>
  </div>
</body>
</html>
