<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Hello World</title>
</head>
<body>
<div class="content">
    <h1 th:text="${message}">Hello, World.</h1>
    <p id="vue-module"><span v-for="item in items">{{item}} </span></p>
</div>
<script src="../static/js/bundle.js" th:src="@{/js/bundle.js}"></script>
</body>
</html>
