<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header::header('Signin')}">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/css/depens.bundle.css" rel="stylesheet" />
  <title>Example</title>
</head>
<body>
  <div class="container p-5">
    <div class="card border-secondary">
      <h2 class="card-header text-center">Sign in</h2>
      <div class="card-body">
        <form class="p-4" method="post" th:action="@{/signin/process}">
          <div th:if="${param.error}" class="alert alert-danger">
            IDまたはパスワードが正しくありません。
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="userId" class="form-control" id="email" placeholder="email@example.com">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <script src="/js/depens.bundle.js" th:src="@{/js/depens.bundle.js}"></script>
    <script src="/js/signin.bundle.js" th:src="@{/js/signin.bundle.js}"></script>
  </div>
</body>
</html>
